#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define NUM     1
#define SYM     2
#define FUNC    3
#define NAV     4

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &none &kp Q      &kp W      &kp E        &kp R       &kp T                          &kp Y   &kp U         &kp I       &kp O      &kp P         &none
                &none &mt LWIN A &mt LALT S &mt LCTRL D  &mt LSHFT F &kp G                          &kp H   &mt RSHIFT J  &mt RCTRL K &mt RALT L &mt RWIN SEMI &none
                &none &kp Z      &kp X      &kp C        &kp V       &kp B                          &kp N   &kp M         &kp COMMA   &kp DOT    &kp FSLH      &none
                                            &lt NUM ESC  &lt NAV TAB &lt SYM SPACE                  &kp RET &lt FUNC BSPC &kp DEL
            >;
        };

        num_layer {
            bindings = <
                &none &trans &trans &trans &trans &trans                                            &kp KP_MINUS &kp N7 &kp N8 &kp N9 &kp KP_DIVIDE   &none
                &none &trans &trans &trans &trans &trans                                            &kp KP_PLUS  &kp N4 &kp N5 &kp N6 &kp KP_MULTIPLY &none
                &none &trans &trans &trans &trans &trans                                            &kp N0       &kp N1 &kp N2 &kp N3 &kp KP_DOT      &none
                                    &trans &trans &trans                                            &trans &trans &trans
            >;
        };

        sym_layer {
            bindings = <
                &none &kp TILDE &trans &trans &trans &trans                                         &kp MINUS &kp EQUAL &kp LPAR &kp RPAR &trans   &none
                &none &trans    &trans &trans &trans &trans                                         &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp BSLH &none
                &none &trans    &trans &trans &trans &trans                                         &kp APOS  &kp DQT   &kp LBKT &kp RBKT &trans   &none
                                       &trans &trans &trans                                         &trans    &trans    &trans
            >;
        };

        func_layer {
            bindings = <
                &none &trans &trans &trans &trans &trans                                            &trans &kp F7 &kp F8 &kp F9 &kp F10 &none
                &none &trans &trans &trans &trans &trans                                            &trans &kp F4 &kp F5 &kp F6 &kp F11 &none
                &none &trans &trans &trans &trans &trans                                            &trans &kp F1 &kp F2 &kp F3 &kp F12 &none
                                    &trans &trans &trans                                            &trans &trans &trans
            >;
        };

        nav_layer {
            bindings = <
                &none &trans &trans &trans &trans &trans                                            &trans &kp HOME &kp PG_DN &kp PG_UP &kp END   &none
                &none &trans &trans &trans &trans &trans                                            &trans &kp LEFT &kp DOWN  &kp UP    &kp RIGHT &none
                &none &trans &trans &trans &trans &trans                                            &trans &trans   &trans    &trans    &trans    &none
                                    &trans &trans &trans                                            &trans &trans   &trans
            >;
        };
    };
};
